body {
    background-color: #f5f0e8;
    margin: 0;
    padding: 40px;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 48px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

hr {
    border: none;
    border-top: 2px solid black;
    margin: 0;
}
