body {
    background-color: #ede8d0;
    margin: 0;
    padding: 40px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin: 0 0 5px 0;
}

hr {
    border: none;
    border-top: 2px solid black;
    width: 60%;
    margin: 0;
}
